/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--font-family);
  font-variation-settings: "wght" var(--font-weight);
  color: var(--color);
}

.content {
  max-width: var(--card-width);
  min-width: 350px;
  margin-inline: auto;
  background-color: var(--background-color);
  border: 2px solid var(--color);
}

.button {
  background-color: var(--background-color);
  cursor: pointer;
  appearance: none;
  font-size: 14px;
  font-family: var(--font-family-accent);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-block: 136px 22px;
  margin-block: 100px;
  text-transform: uppercase;
  font-family: var(--font-family-accent);
  gap: 20px;
}

.header__title {
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
}

.header__theme-menu {
  padding-block-start: 4px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-inline-start: 18px;
}

.theme-menu__button {
  position: relative;
  padding: 0;
  border: none;
  text-transform: uppercase;
}

.theme-menu__button::after {
  content: "";
  display: block;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
  inline-size: 100%;
  block-size: 2px;
}

.theme-menu__button:hover {
  transition: opacity 0.3s ease;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:disabled {
  opacity: 0.6;
  cursor: default;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  inset-inline-start: -21px;
  animation: arrow 0.5s infinite alternate ease-in-out;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card__title {
  font-size: 18px;
  padding: 5px 10px;
  font-variation-settings: "wght" var(--font-weight-title);
  border-bottom: 2px solid var(--color);
}

.card__image-wrapper {
  position: relative;
  border-bottom: 2px solid var(--color);
}

.card__image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
}

.card__image-lable {
  position: absolute;
  z-index: 1;
  inset-inline-end: 13px;
  inset-block-start: 24px;
  opacity: 0.5;
  font-family: var(--font-family-accent);
  text-shadow: 0 0 1px var(--background-color, #ffffff);
  mix-blend-mode: hard-light;
}

@supports (
  (-webkit-text-stroke: 1px var(--background-color)) or
    (text-stroke: 1px var(--background-color))
) {
  .card__image-lable {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--background-color);
    text-stroke: 1px var(--background-color);
  }
}

.card__text {
  padding-block-start: 27px;
  padding-inline: 25px;
  font-size: 18px;
  line-height: 116.667%;
}

.card__controls {
  display: flex;
  padding: 24px;
  justify-content: end;
  gap: 5px;
}

.card__icon-button {
  display: grid;
  border: 2px solid transparent;
  padding: 0;
  background: transparent;
  transition: border-color 0.3s ease;
  cursor: pointer;
  appearance: none;
  width: 42px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--color);
}

.contour {
  fill: var(--color);
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.sparks {
  fill: #ff0000;
  opacity: 0;
}

.like-icon .heart {
  transform-origin: center;
}

.like-icon:hover .main-body {
  fill: #000000;
  transition: fill 0.3s linear 0.05s;
}

.like-icon:hover .core {
  fill: #000000;
  transition: fill 0.3s linear;
}

.like-icon:active .core {
  fill: var(--color-heart);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--color-heart);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--color-heart);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--color-heart);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--color-heart);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .heart {
  animation: heart 0.3s ease-in 0.1s alternate;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s alternate;
}

.animated-button {
  position: relative;
  z-index: 1;
  border: 2px solid var(--color);
  line-height: 90%;
  transition: box-shadow 0.3s ease;
}

.card__like-button {
  block-size: 38px;
  inline-size: 130px;
}

.animated-button:focus {
  outline: none;
}

.animated-button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--color);
}

.animated-button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: var(--color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 100%;
}

.animated-button:hover::before {
  transform: scaleX(1);
}

.button__text,
.button__icon {
  color: var(--button-text-color);
  line-height: 90%;
  mix-blend-mode: difference;
}

.footer {
  padding-block: 54px;
}

.button--save {
  display: flex;
  margin-inline: auto;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px 20px;
  border: 2px solid var(--color);
}

.button__icon {
  block-size: 21px;
  inline-size: 21px;
}

.modal {
  max-inline-size: 355px;
  padding: 25px 30px;
  border: 2px solid var(--color);
  background: var(--background-color);
  color: var(--color);
  font-family: var(--font-family-accent);
  line-height: 1.5;
  text-transform: uppercase;
}

.modal[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.modal::backdrop {
  opacity: 0.75;
  background: #000;
}

.modal__content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.modal__icon {
  flex-shrink: 0;
  inline-size: 39px;
  block-size: 39px;
}

.modal__button {
  inline-size: 100%;
  block-size: 38px;
}

.filter-blur {
  filter: blur(15px);
}

.filter-contrast {
  filter: contrast(80%);
}

.filter-grayscale {
  filter: grayscale(0.8);
}

.filter-saturate {
  filter: saturate(158%);
}

.filter-brightness {
  filter: brightness(150%);
}

.filter-sepia {
  filter: sepia(80%) grayscale(10%);
}

.filter-invert {
  filter: invert(0.2);
}

.filter-hue {
  filter: hue-rotate(-180deg);
}

@media (width < 400px) {
  .modal {
    padding: 30px 40px;
    max-inline-size: 340px;
  }

  .button--save {
    flex-direction: column;
  }

  .button__icon {
    block-size: 28px;
    inline-size: 28px;
  }
}
